{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reset Password | Clovar</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:image"
      content="https://avatars.githubusercontent.com/t/6383931?s=280&v=4"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'assets/images/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/change-password.css' %}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'home' %}"><img src="{% static 'assets/images/logo.png' %}" alt="Clovar Logo" /></a>
      </nav>
    </header>
    <main>
      <div class="container">
        <div class="content">
          <img src="{% static 'assets/images/reset-password-icon.webp' %}" alt="Reset password icon" />
          <h1>Password Reset</h1>
          <p class="reset">Forgotten your password? Enter your registered email address below, and we will send you an email allowing you to reset it.</p>
          <form method="POST" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Your Registered Email" class="reset-email">
            <br>
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit">Confirm Reset</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
