@charset "UTF-8";

:root {
  --accent-gold: #e59c2e;
  --accent-purple: #50409a;
  --button-hover: #6a55cc;
  --button-active: #352a66;
  --light-black: #545454;
  --pure-white: #fff;
  --milk: #fffbf5;
  --montserrat: 'Montserrat', sans-serif;
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--montserrat);
  background-color: var(--milk);
  height: 100vh;
}

nav {
  padding-inline: 5rem;
  padding-block: 2rem;
  position: fixed;
}

nav img {
  width: 150px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 450px;
  max-width: 550px;
  padding: 4rem;
  color: var(--light-black);
  background-color: var(--pure-white);
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.content img {
  width: 85px;
  margin-bottom: 1rem;
}

.content h1 {
  font-weight: 700;
  font-size: 1.75rem;
  padding-bottom: 0.75rem;
}

.content p {
  font-weight: 500;
  font-size: 1.25rem;
  padding-bottom: 3rem;
}

button {
  margin-top: 1rem;
  padding: 0.7rem 0.5rem;
  width: 10rem;
  font-family: var(--montserrat);
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--milk);
  border: 1px solid var(--accent-gold);
  border-radius: var(--border-radius);
  background-color: var(--accent-gold);
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #e7a644 !important;
  border-color: #e7a644 !important;
}

button:active {
  background-color: #cc8d33 !important;
  border-color: #e7a644 !important;
}

form {
  width:75%;
}

form input {
  margin-block: 0.5rem;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #b5b5b5;
  border-radius: var(--border-radius);
  font-family: var(--montserrat);
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--light-black);
  outline: none;
  transition: all 0.2s ease-in-out;
}

form input:focus {
  border: 1px solid var(--accent-gold) !important;
}
