*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: Georgia;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background: #e4e0d7;
  height: 100%;
}
.container {
  width: 300px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #eeeeee;
}
#logo {
  display: block;
  margin-top: 50px;
  width: 200px;
  margin-left: 20px;
  margin-top: 4px;
}

@media screen and (max-width: 600px) {
  #logo {
    width: 100px;
  }
}

h4 {
  text-align: center;
  padding-top: 5px;
  font-size: 18px;
}
p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}

#cancel {
  padding: 8px;
  padding-left: 28px;
  padding-right: 28px;
  background: white;
  font-size: 15px;
  border: 0.73px solid black;
  align-self: center;
  margin: 7px;
  border-radius: 5px;
  margin-left: 50px;
}
#yes {
  padding: 9.5px;
  padding-left: 40px;
  padding-right: 40px;
  background: #ffcb26;
  font-size: 15px;
  align-self: center;
  margin: 7px;
  border: 0;
  border-radius: 5px;
}
.fa-exclamation-triangle {
  width: 100%;
  margin-top: 20px;
  align-self: center;
  font-size: 25px;
  margin-top: 40px;
  text-align: center;
  color: #ffcb26;

}
/* The Desktop View. */

@media screen and (min-width: 900px) {
  .container {
      width: 350px;
      margin: 100px auto 0 auto;
      padding: 15px;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 18.2px;
    padding: 2px;
  }
  .fa-exclamation-triangle {
    margin-top: 20px;
    font-size: 40px;
  }
  #cancel {
    font-size: 20px;
  }
  #yes {
    font-size: 20px;
  }
}