@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

body h3{
    font-size: 20px;
}
body{
    font-size: 16px;
}
button{
    cursor: pointer;
}
.main-container{
    display: grid;
   grid-template-columns: 25% 75%;
    height: 1024px;

}
.main-container li{
    list-style: none;
}

.left-container{
   background-color: #222222;
   color: #FFFBF5;
   width: 440px; 
   padding-left: 10px;
}
.left-container h3{
    padding-left: 144px;
    padding-right: 134px;
}

.left-container p{
    padding-left: 104px;
    padding-bottom: 63px;
}
.left-container a{
    color: #ffffff;
    text-decoration: none;
}

.backlogo{
    padding-left: 29px;
    padding-top: 78px;
    padding-bottom: 16px;
}
.backlogo img{
    width: 48px;
    height: 48px;

}
.navcontent-top{
    margin-bottom: 119px;
}

.navcontent-bottom{
    margin-bottom: 311px;
}

 #user{
    background-color: #50409A;
    margin-left: 0;
}

.right-container{
    background-color: #FFFBF5;
    width: 1000px;
    padding-left: 190px;
    padding-top: 137px;
    
}


.right-container a{
    color: #222222;
    text-decoration: none;
}

.header{
    margin-bottom: 24px;
}

.user-nav{
    display: flex;
    justify-content: space-between;
    border: 1px solid #50409A;
    display: flex;
    width: 780px;
    height: 44px;
    padding-left: 11px;
    padding-right: 28px;
    padding-top: 13px;

}


.usernav-li ul{
    display: flex;
    
}
.usernav-li ul li{
    padding-right: 24px;
}




.team-members{
    margin-top: 24px;
    width: 780px;
    height: 225px;
    border: 1px solid #50409A;
}

.teammem-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #50409A;
    padding: 16px 27px 22px 27px;
}
#team{
    border-bottom: 1px solid #222222;
    
}
.teammem-top button{
    border: 1px solid rgba(0, 0, 0, 0.6);
    height:28px ;
    width: 80px;
    background-color: #FFFBF5;
}

.teammem-buttom{
    display: flex;
    padding-left: 27px ;
    padding-top: 43px;

}
.teammem-buttom img{
    
    width: 70px;
    height: 70px;
     border-radius: 50% ;
}


.buttom-left {
    margin-left: 16px;
}


.buttom-left button{
    background-color: #50409A;
    border-radius: 8px;
    border: none;
    color: #FFFBF5;
    padding: 10px 15px;
    margin-top: 10px;
    width: 71px;
    height: 35px;
    
}