:root {
  --milk: #fffbf5;
  --montserrat: 'Montserrat', 'sans-serif';
  --background: '#fff';
  --accent-gold: #cc8d33;
  --accent-purple: #50409a;
  --button-hover: #6a55cc;
  --button-active: #352a66;
  --border-radius: 8px;
}

html {
  background: var(--milk);
  font-family: var(--montserrat);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  margin-left: 3rem;
  margin-top: 2rem;
  width: 150px;
  height: auto;
}

section {
  background-color: var(--background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 350px;
  max-width: 550px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h1 {
  padding-bottom: 0.5rem;  
  margin: 0;
  font-weight: 700;
  color: #545454;
}

#one {
  font-weight: 600;
  margin: 0;
  color: #545454;
}

#sent {
  margin: 0;
  padding-top: 2rem;
  padding-inline: 4rem;
  font-weight: 500;
  color: #545454;
  line-height: 1.5;
}

i {
  color: green;
}

p a {
  color: var(--accent-purple);
}

form {
  text-align: center;
}

button a {
  color: var(--milk);
  text-decoration: none;
}

button {
  margin-top: 2rem;
  padding: 0.7rem 1rem;
  width: 8.75rem;
  font-family: var(--montserrat);
  font-size: 1rem;
  font-weight: 500;
  color: var(--milk);
  border: 1px solid var(--accent-gold);
  border-radius: var(--border-radius);
  background-color: var(--accent-gold);
  border-color: #e7a644 !important;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #e7a644 !important;
}

button:active {
  background-color: #cc8d33 !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}