@charset "UTF-8";

:root {
  --accent-gold: #cc8d33;
  --accent-purple: #50409a;
  --button-hover: #6a55cc;
  --button-active: #352a66;
  --black-text: #222222;
  --light-black: #545454;
  --background: #fff;
  --milk: #fffbf5;
  --montserrat: 'Montserrat', sans-serif;
  --rubik-glitch: 'Rubik Glitch', cursive;
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #222222;
  background-color: var(--background) !important;
  font-family: var(--montserrat) !important;
  scroll-behavior: smooth;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }
}

header {
  background: linear-gradient(to right, #fbf2e4, #fff) !important;
}

.purple-text {
  color: var(--accent-purple);
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

main .boundary-hr {
  width: 85%;
  border-top: 1.5px solid var(--accent-gold) !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-block: 0 !important;
}

/* buttons */
button:not(.navbar-toggler),
input[type='submit'] {
  width: 200px !important;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  transition: all 0.2s ease-in-out;
}

button:not(.navbar-toggler):hover,
input[type='submit']:hover {
  background-color: var(--button-hover) !important;
  color: var(--milk) !important;
}

button:not(.navbar-toggler):active,
input[type='submit']:active {
  background-color: var(--button-active) !important;
  color: var(--milk) !important;
}

/* top navbar */
.navbar-buttons .login {
  background-color: transparent;
  color: var(--black-text);
  border: 1px solid var(--accent-purple);
  margin-right: 1rem;
}

.navbar-buttons .get-started {
  background-color: var(--accent-purple);
  color: var(--milk);
  border: 1px solid var(--accent-purple);
  margin-left: 1rem;
}

.nav-link {
  font-weight: 400;
  font-size: 0.88rem !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-brand img {
  width: 150px;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    padding-top: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .navbar-toggler {
    transform: scale(0.8);
  }
  .navbar-brand img {
    width: 100px;
  }
}

/* Hero Section */
.hero-section {
  text-align: center;
}

.hero-section .hero-title-desktop,
.hero-section .hero-title-mobile {
  color: var(--black-text);
  text-transform: uppercase;
  font-family: var(--rubik-glitch);
}

.hero-title-mobile {
  display: none;
}

@media screen and (max-width: 992px) {
  .hero-section {
    text-align: left;
    padding-inline: 1.5rem;
  }
  .hero-title-desktop {
    display: none;
  }
  .hero-title-mobile {
    display: block;
  }
}

.hero-section .title1 {
  font-size: 4rem;
}

.hero-section .title2 {
  font-size: 3rem;
}

.hero-description {
  display: grid;
  place-items: center;
}

.hero-description p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 38.73px;
  color: var(--black-text);
  max-width: 740px;
}

@media screen and (max-width: 1080px) {
  .hero-section .title1 {
    font-size: 3.5rem;
  }

  .hero-section .title2 {
    font-size: 2.5rem;
  }

  .hero-description p {
    font-size: 1.25rem;
    line-height: 24px;
  }
}

@media screen and (max-width: 992px) {
  .hero-description {
    display: block;
  }

  .hero-section .title2 {
    font-size: 2.5rem;
  }

  .hero-description p {
    font-size: 1rem;
    line-height: 19.5px;
  }
}

.hero-section form {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .hero-section form {
    width: 80%;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero-section form {
    width: 100%;
  }
}

.hero-section form input {
  width: 50%;
  font-weight: 400;
  font-size: 0.75rem;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  margin-right: -10px;
  /* padding */
  padding-inline: 1.5rem;
  padding-bottom: 0.6rem;
  padding-top: 0.65rem;
  /* border */
  border: 2px solid var(--light-black);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-right-style: none;
}

.hero-section form input:focus {
  outline: none;
  border-color: var(--accent-gold);
}

.hero-section form button {
  width: 50%;
  color: var(--milk);
  background-color: var(--accent-purple);
  border: 1px solid var(--accent-purple);
}

@media screen and (max-width: 992px) {
  .hero-section form input {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .hero-section form input {
    width: 60%;
    margin-right: -15px;
    padding-inline: 1rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
  }
  
  .hero-section form button {
    font-size: 0.9rem !important;
    padding: 0.75rem 0.5rem !important;
    width: 140px !important;
  }
}

/* Checkmarks section */
.checkmarks-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--milk);
  padding-block: 7rem;
}

.checkmarks-section p {
  display: flex;
  font-weight: 400;
  font-size: 1rem;
}

.checkmarks-section p i {
  padding-top: 0.25rem;
}

@media screen and (max-width: 768px) {
  .checkmarks-section {
    display: block;
    padding-block: 5rem !important;
    padding-inline: 2rem;
  }
}

/* Blog Tips Section */
.blog-tips {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 7rem;
  max-width: 100%;
}

.blog-tips .blog-tip p,
.blog-tips .blog-tip h5 {
  font-weight: 400 !important;
  font-size: 1rem;
}

.blog-tips .blog-tip p {
  font-size: small;
}

.blog-tips .blog-tip h5 {
  text-transform: capitalize;
}

/* Company Images Section */
.company-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  padding-inline: 10rem;
}

@media screen and (max-width: 992px) {
  .company-images {
    display: none;
  }
}

.company-images img {
  width: 150px;
  height: auto;
}

/* FAQ Section */
.faq-section {
  background-color: var(--milk);
  padding-top: 6rem;
}

.faq-section .faq-container {
  width: 70%;
  margin: 0 auto;
}

.faq-section .faq-container h5 {
  font-weight: 500;
}

.faq-section .faq-container .faq p {
  margin: 0 !important;
  position: relative;
  font-weight: 600;
}

.faq-section .faq-container .faq hr {
  border-top: 1.5px solid var(--accent-gold) !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-block: 0 !important;
}

.faq-section .faq-container .faq p .plus-icon {
  color: var(--accent-gold) !important;
  position: absolute;
  right: 16px;
}

/* Footer */
footer {
  padding-top: 5rem;
  background-color: var(--milk);
}

footer .footer-logo {
  width: 100px;
  height: auto;
}

footer .nav-link .facebook-icon {
  width: 40px;
  height: auto;
}

footer .nav-link .instagram-icon {
  width: 35px;
  height: auto;
  padding-top: 3px;
}
