{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 | Clovar</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:image"
      content="https://avatars.githubusercontent.com/t/6383931?s=280&v=4"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'assets/images/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/404.css' %}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'home' %}"><img src="{% static 'assets/images/logo.png' %}" alt="Clovar Logo"></a>
      </nav>
    </header>
    <main>
      <div class="container">
        <div class="content">
          <img src="{% static 'assets/images/404-icon.png' %}" alt="404 icon">
          <h1>Oops!</h1>
          <p>Page not found...</p>
        </div>
      </div>
    </main>
  </body>
</html>
