{% extends 'base.html' %}
{% load static %}
{% block content %}
 
      <!-- Hero Section -->
      <section class="hero-section mt-lg-5 pt-5 pb-5">
        <div class="hero-title-desktop mb-3">
          <h1 class="title1">
            Bring <span class="me-3">your</span>
            <span class="auto-type purple-text"></span>
            <span class="ms-3">to</span> life
          </h1>
          <h2 class="title2">Share and build your world.</h2>
        </div>
        <div class="hero-title-mobile">
          <h2 class="title2">
            Share Your <br />
            <span class="auto-type1 purple-text"></span> <br />Build Your World
          </h2>
        </div>
        <div class="hero-description mb-5">
          <p>
            Launch your Blog Websites in minutes
            <span class="purple-text">FOR FREE</span> Without knowing
            <span class="purple-text">HOW TO CODE</span>
          </p>
        </div>
        <form>
          <input name="email" type="email" placeholder="Enter your email..." />
          <button type="submit">Start your blog</button>
        </form>
      </section>
    </header>
    <main>
      <!-- Checkmarks section | Mobile Login and Get Started -->
      <section class="features-section">
        <div class="checkmarks-section">
          <div class="left-side pe-md-3">
            <p>
              <i class="fa-solid fa-check px-2"></i>
              <span>Get found on Google</span>
            </p>
            <p>
              <i class="fa-solid fa-check px-2"></i>
              <span>Publish blog posts on the go</span>
            </p>
            <p>
              <i class="fa-solid fa-check px-2"></i>
              <span> Add existing blog posts easily </span>
            </p>
          </div>
          <div class="right-side ps-md-3">
            <p>
              <i class="fa-solid fa-check px-2"></i>
              <span> Check your website's stat in realtime </span>
            </p>
            <p>
              <i class="fa-solid fa-check px-2"></i>
              <span> Stay Updated with your blog user's engagement </span>
            </p>
            <p>
              <i class="fa-solid fa-check px-2"></i>
              <span>Run multiple blog accounts</span>
            </p>
          </div>
        </div>
        <div class="auth-buttons pt-4 px-5">
          <button class="login pb-2" type="button">Login</button>
          <button class="get-started" type="button">Get Started</button>
        </div>
      </section>

      <!-- Blog Tips Section -->
      <section class="blog-tips py-5">
        <div class="blog-tip pe-3">
          <h5 class="title mb-4 first">SEO Tactics</h5>
          <p>
            We can give you tips and opportunities to rank in search engines and
            make your site stand strong.
          </p>

          <p class="purple-text">
            <a href="#!"
              >View more <i class="fa-solid fa-up-right-from-square px-1"></i
            ></a>
          </p>
        </div>
        <div class="blog-tip pe-3">
          <h5 class="title mb-4">Productivity</h5>
          <p>
            Scheduling your post, building relationships, making your blog more
            productive.
          </p>

          <p class="purple-text">
            <a href="#!"
              >View more <i class="fa-solid fa-up-right-from-square px-1"></i
            ></a>
          </p>
        </div>
        <div class="blog-tip">
          <h5 class="title mb-4">Traffic Analysis</h5>
          <p>
            Writing more, Promoting with Social media, Writing better titles and
            other tips.
          </p>

          <p class="purple-text">
            <a href="#!"
              >View more <i class="fa-solid fa-up-right-from-square px-1"></i
            ></a>
          </p>
        </div>
      </section>

      <!-- Blog Tips Mobile -->
      <div class="blog-tips-mobile py-5">
        <div
          id="carouselExampleDark"
          class="carousel carousel-dark slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
              <div class="blog-tip">
                <h5 class="title mb-4">SEO Tactics</h5>
                <p>
                  We can give you tips and opportunities to rank in search
                  engines and make your site stand strong.
                </p>

                <p class="purple-text">
                  <a href="#!"
                    >View more
                    <i class="fa-solid fa-up-right-from-square px-1"></i
                  ></a>
                </p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <div class="blog-tip">
                <h5 class="title mb-4">Productivity</h5>
                <p>
                  Scheduling your post, building relationships, making your blog
                  more productive.
                </p>

                <p class="purple-text">
                  <a href="#!"
                    >View more
                    <i class="fa-solid fa-up-right-from-square px-1"></i
                  ></a>
                </p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500">
              <div class="blog-tip">
                <h5 class="title mb-4">Traffic Analysis</h5>
                <p>
                  Writing more, Promoting with Social media, Writing better
                  titles and other tips.
                </p>

                <p class="purple-text">
                  <a href="#!"
                    >View more
                    <i class="fa-solid fa-up-right-from-square px-1"></i
                  ></a>
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
        </div>
      </div>
      <hr class="boundary-hr hr1" />

      <!-- Company Images Section -->
      <section class="company-images py-5 my-4">
        <img src="{% static 'assets/images/fliqpay.png' %}" alt="boom logo" />
        <img src="{% static 'assets/images/flutterwave.png' %}" alt="boom logo" />
        <img src="{% static 'assets/images/boom.png' %}" alt="boom logo" />
        <img src="{% static 'assets/images/amazon.png' %}" alt="boom logo" />
      </section>
      <hr class="boundary-hr" />

      <!-- FAQ Section1 -->

      <!-- FAQ Section2 -->
      <section class="faq-section">
        <div class="faq-container">
          <h4 class="text-center mb-4">FAQs</h4>
          <div class="faq1 faq py-4">
            <!-- question -->
            <p class="px-3 faq-question fw-bold">
              Do I need to be a designer or developer to use Clovar?
            </p>
            <!-- answer -->
            <div class="faq-answer">
              <p class="px-3">
                No, you don't need to be a designer or developer to use Clovar.
                You can use Clovar as a freelancer or as a full-time employee.
              </p>
            </div>
          </div>
          <hr />
          <div class="faq2 faq py-4">
            <!-- question -->
            <p class="px-3 faq-question fw-bold">
              How do I change the design of my blog?
            </p>
            <!-- answer -->
            <div class="faq-answer">
              <p class="px-3">
                You can change the design of your blog by editing the theme. You
                can find the theme in the theme folder.
              </p>
            </div>
          </div>
          <hr />
          <div class="faq3 faq py-4">
            <!-- question -->
            <p class="px-3 faq-question fw-bold">
              How can I advertise on my blog?
            </p>
            <!-- answer -->
            <div class="faq-answer">
              <p class="px-3">
                You can advertise on your blog by using our advertising
                platform. You can find the platform in the platform folder.
              </p>
            </div>
          </div>
          <hr />
        </div>
      </section>
    </main>
  {% endblock content %}